/.gradle
/build
/.gradle
/.gradle
/build
/desktopplatform/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/desktopplatform/.gradle/buildOutputCleanup/cache.properties
/desktopplatform/.gradle/9.0.0/checksums/checksums.lock
/desktopplatform/build/classes/java/main/org/thingai/platform/dao/DaoFile.class
/desktopplatform/build/tmp/compileJava/compileTransaction/stash-dir/DaoFile.class.uniqueId1
/desktopplatform/build/classes/java/main/org/thingai/platform/dao/DaoSqlite.class
/desktopplatform/build/tmp/compileJava/compileTransaction/stash-dir/DaoSqlite.class.uniqueId0
/desktopplatform/build/libs/desktopplatform.jar
/desktopplatform/.gradle/9.0.0/executionHistory/executionHistory.bin
/desktopplatform/.gradle/9.0.0/executionHistory/executionHistory.lock
/desktopplatform/.gradle/file-system.probe
/desktopplatform/.gradle/9.0.0/fileHashes/fileHashes.bin
/desktopplatform/.gradle/9.0.0/fileHashes/fileHashes.lock
/desktopplatform/.gradle/9.0.0/gc.properties
/desktopplatform/.gradle/vcs-1/gc.properties
/desktopplatform/.gradle/9.0.0/fileChanges/last-build.bin
/desktopplatform/build/tmp/jar/MANIFEST.MF
/desktopplatform/.gradle/9.0.0/checksums/md5-checksums.bin
/desktopplatform/.gradle/buildOutputCleanup/outputFiles.bin
/desktopplatform/build/tmp/compileJava/previous-compilation-data.bin
/desktopplatform/build/reports/problems/problems-report.html
/desktopplatform/.gradle/9.0.0/fileHashes/resourceHashesCache.bin
/desktopplatform/.gradle/9.0.0/checksums/sha1-checksums.bin
